.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallContainer1, .smallContainer2 {
  margin-bottom: 10px;
  border: DodgerBlue solid 2px;
  padding: 20px;
}

.smallContainer2 {
  background: orangered;
}

.boxes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  height: 35px;
  width: 35px;
  background: DodgerBlue;
  list-style: none;
}

.smallContainer2 li {
  background: purple;
}