html {
  width: 500px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 19px;
}

h1 {
  color: darkorange;
  margin-bottom: 0px;
}
h2{
  color: purple;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
  text-decoration: underline;
}

.color {
  color: magenta;
  text-decoration: underline;
}